<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script type="text/javascript" src="<%=
    htmlWebpackPlugin.files.chunks.main.entry %>">
    </script>
</head>
<body>  
    <%= htmlWebpackPlugin.options.date %>
    <% for (var key in htmlWebpackPlugin.files) { %>
        <%= key %> : <%= JSON.stringify(htmlWebpackPlugin.files[key]) %>
    <% } %>

    <% for (var key in htmlWebpackPlugin.options) { %>
        <%= key %> : <%=JSON.stringify(htmlWebpackPlugin.options[key]) %>
    <% } %>

    <script type="text/javascript" src="<%=
    htmlWebpackPlugin.files.chunks.a.entry %>">
    </script>
    
    <!-- 我是一行注释 -->
</body>
</html>